<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="icon" href ="/weather.png">
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <div class = "main-content">
            {{>header}}
        <p>
            {{errormessage}}
        </p>
        </div>
        {{>footer}}
    </body>
</html>