<!DOCTYPE html>
<html>
    <head>
      <title>About</title>
      <link rel="icon" href ="/weather.png">
      <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
      <div class = "main-content">
           {{>header}}
           <p>
             This site was created by Ankur Mohanty. It uses data from MapBox.com and WeatherStack API
           </p>
            <img class = "portrait" src = "robot.png">
            <p>
                created by {{name}}
            </p>
      </div>
            {{>footer}}
    </body>
</html>