<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href ="/weather.png">
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <div class = "main-content">
            {{>header}}
        <h1>
            HELP!
        </h1>
         <p> {{helptext}}</p>
        </div>
         {{>footer}}
    </body>
</html>